<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634063473150-l85vabv76qpgb3r8q2ohjvkp3qf6gdml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634063473150-l85vabv76qpgb3r8q2ohjvkp3qf6gdml</string>
	<key>API_KEY</key>
	<string>AIzaSyAN-3qH4KqlokS8eK1tlYEfewKRBYONkww</string>
	<key>GCM_SENDER_ID</key>
	<string>634063473150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.legert.StoryBook</string>
	<key>PROJECT_ID</key>
	<string>familybook-446bd</string>
	<key>STORAGE_BUCKET</key>
	<string>familybook-446bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634063473150:ios:9d9606a95ec1a9502558af</string>
	<key>DATABASE_URL</key>
	<string>https://familybook-446bd.firebaseio.com</string>
</dict>
</plist>